<h1>
  <%= @post.title %>
</h1>

<div>
  <%= @post.body %>
</div>

<div>
  <% @comment.each do |comment| %>
    <b><%= comment.title %></b>
    <%= comment.body %>
    <br />
  <% end %>
</div>

<div>
  <%= link_to "Comment!", new_post_comment_path(@post) %>
</div>
