<!DOCTYPE html>
<html>
  <head>
    <title>Bolshevik</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Bolshevik", "#", class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "News", "#", class: 'dropdown-item' %>
              <%= link_to "Forum", posts_path, class: 'dropdown-item' %>
              <%= link_to "Profile Page", "#", class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Enlighten yourself, Comrade! (Sign up)", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in, Comrade!", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
    <%= yield %>
  </body>
</html>
